#light-button {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
#dark-button {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

#button:hover {
  background-color: #04c2c9;
  border: 2px solid #04c2c9;
}

#button svg {
  float: right;
}
